.btn {
  padding: 10px;
  margin-bottom: 30px;
  width: 100px; 
  height: 50px;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  transition: letter-spacing 2s cubic-bezier(0.075, 0.82, 0.165, 1);
  color: rgb(54, 52, 52);
  background-color: rgb(179, 174, 174);
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:not(:last-child) {
  margin-right: 10px;
}

.btn:hover,
.btn:focus {
  background-color: rgb(116, 163, 131);
  color: black;
  letter-spacing: 2px;
  transition: letter-spacing 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.btn:hover:nth-child(2n-1),
.btn:focus:nth-child(2n-1) {
  background-color: rgb(182, 135, 235);
}

.btn:hover:last-child, 
.btn:focus:last-child {
  background-color: rgb(218, 136, 126);
}